@import url(https://fonts.googleapis.com/css?family=Teko);

.my_headline_font_size {
  font-size: 24px;
}

.clear {	
	clear:both;
}

hr {
  clear:both;
}


.links {
  padding-top: 29px;
  text-align: middle;
  padding-left: 120px;
}

.links a {
	color: black;
	font-size: 20px;
	border-bottom: 1px solid #dfdfdf;
}

.next-quote {
  color:#f84342;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}

header {
  border-top: 9px solid #222222;
}

h1 {
  font-family: 'Teko', sans-serif;
}

h2 {
  font-family: 'Teko', sans-serif;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Teko', sans-serif;
  font-style: italic;
  font-size: 28px;
  padding-top: 26px;
}

.footer-blurb {
  font-family: 'Teko', sans-serif;
  font-style: italic;
  text-align:right;
  font-size:16px;
}
